# Child Data Cleaning

In [0]:
import pandas as pd
data = pd.read_csv("Child_data.csv")
data.head()

,Unnamed: 0,name,Birth Month,Birth Year,Day,Height,Remarks
0,1,David,5,88,1st Monday,2'0'',Boy with Left biggerfoot and Right dominant hand
1,2,Lars,10,87,3rd Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand
2,3,Zach,12,87,2nd Saturday,2'0'',Boy with Right biggerfoot and Right dominant ...
3,4,Josh,1,88,1st Tuesday,2'1'',Boy with Left biggerfoot and Right dominant hand
4,5,Lang,2,88,1st Monday,2'1'',Boy with Left biggerfoot and Right dominant hand

In [0]:
data.shape

(39, 7)

In [0]:
data = data.rename(columns={'Unnamed: 0':'index','name':'Name','Birth Month':'Birth_Month','Birth Year':'Birth_Year', 'Day':'weekday'})
data.head()

,index,Name,Birth_Month,Birth_Year,weekday,Height,Remarks
0,1,David,5,88,1st Monday,2'0'',Boy with Left biggerfoot and Right dominant hand
1,2,Lars,10,87,3rd Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand
2,3,Zach,12,87,2nd Saturday,2'0'',Boy with Right biggerfoot and Right dominant ...
3,4,Josh,1,88,1st Tuesday,2'1'',Boy with Left biggerfoot and Right dominant hand
4,5,Lang,2,88,1st Monday,2'1'',Boy with Left biggerfoot and Right dominant hand

In [0]:
data.isnull().sum()

index          0
Name           0
Birth_Month    0
Birth_Year     0
weekday        0
Height         0
Remarks        0
dtype: int64

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 7 columns):
index          39 non-null int64
Name           39 non-null object
Birth_Month    39 non-null int64
Birth_Year     39 non-null int64
weekday        39 non-null object
Height         39 non-null object
Remarks        39 non-null object
dtypes: int64(3), object(4)
memory usage: 2.2+ KB

In [0]:
import calendar
from datetime import datetime

def getDate(mystr,mymonth,myyear):
    myweek=mystr[0]
    myday=mystr[4:]
    myday=myday.upper()
    cal = calendar.monthcalendar(myyear, mymonth)
    week1 = cal[int(myweek)-1]
    #print(getattr(calendar,myday))
    if week1[getattr(calendar,myday)] != 0:
        auditday = week1[getattr(calendar,myday)]
    else:
        # if the first MONDAY isn't in the first week, it must be in the second week
        week2 = cal[int(myweek)]
        auditday = week2[getattr(calendar,myday)]
    result = str(auditday)+"-"+str(mymonth)+"-"+str(myyear)
    date_object = datetime.strptime(result, '%d-%m-%Y')
    return date_object

In [0]:
for i,j in data.iterrows():
    j.Birth_Year=1900+j.Birth_Year;
    data.loc[i,'DOB'] = getDate(j.weekday,j.Birth_Month,j.Birth_Year)    
    rem = j.Remarks.split();
    data.loc[i,'Gender'] = rem[0]
    ht = j.Height.split("'")
    data.loc[i,'Height_in_cm'] = float(ht[0])*30.48 + float(ht[1])*2.54
    data.loc[i,'Bigger_Foot'] = rem[2]
    data.loc[i,'Dominant_Hand'] = rem[5]

data.head()

,index,Name,Birth_Month,Birth_Year,weekday,Height,Remarks,DOB,Gender,Height_in_cm,Bigger_Foot,Dominant_Hand
0,1,David,5,88,1st Monday,2'0'',Boy with Left biggerfoot and Right dominant hand,1988-05-02,Boy,60.96,Left,Right
1,2,Lars,10,87,3rd Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand,1987-10-13,Boy,63.50,Left,Left
2,3,Zach,12,87,2nd Saturday,2'0'',Boy with Right biggerfoot and Right dominant ...,1987-12-12,Boy,60.96,Right,Right
3,4,Josh,1,88,1st Tuesday,2'1'',Boy with Left biggerfoot and Right dominant hand,1988-01-05,Boy,63.50,Left,Right
4,5,Lang,2,88,1st Monday,2'1'',Boy with Left biggerfoot and Right dominant hand,1988-02-01,Boy,63.50,Left,Right

In [0]:
data.drop(["Birth_Month", "Birth_Year", "weekday", "Height", "Remarks" ], axis = 1, inplace = True) 
data.head()

   index   Name        DOB Gender  Height_in_cm Bigger_Foot Dominant_Hand
0      1  David 1988-05-02    Boy         60.96        Left         Right
1      2   Lars 1987-10-13    Boy         63.50        Left          Left
2      3   Zach 1987-12-12    Boy         60.96       Right         Right
3      4   Josh 1988-01-05    Boy         63.50        Left         Right
4      5   Lang 1988-02-01    Boy         63.50        Left         Right